fastapi
uvicorn[standard]

sqlalchemy

alembic

psycopg2-binary

asyncpg

python-dotenv

python-jose

passlib[bcrypt]

bcrypt

pydantic

pydantic-settings

python-multipart

redis

httpx

orjson

loguru

pytest

pytest-asyncio

email-validator
